.search-text{
    margin-left: 14px;
    font-size: 14px;
}

.no-more-shop{
    text-align: center;
    color: gray;
    font-size: 16px;
    margin-top: 10px;
}

.items-search{
    margin-top: 20px;
}